APP_NAME=rieltor
LOG_LEVEL=INFO

# Rieltor.ua credentials
MAIN_URL=https://my.rieltor.ua
PHONE=+380XXXXXXXXX
PASSWORD=yourpassword

# CRM credentials
CRM_URL=https://crm-capital.realtsoft.net/
CRM_EMAIL=your@email.com
CRM_PASSWORD=yourpassword

# Комиссия (подставляется в объявление)
# COMMISSION_SALE_UNIT: "%", "гривнях", "долларах"
COMMISSION_SALE=3
COMMISSION_SALE_UNIT=%
COMMISSION_RENT=50
COMMISSION_RENT_UNIT=%
